<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Nickname</th>
    <th>Encrypted password</th>
    <th>Rg</th>
    <th>Cpf</th>
    <th>Birth date</th>
    <th>Gender</th>
    <th>Phone</th>
    <th>Zipcode</th>
    <th>State</th>
    <th>City</th>
    <th>Area</th>
    <th>Street</th>
    <th>Number</th>
    <th>Complement</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.nickname %></td>
    <td><%= user.encrypted_password %></td>
    <td><%= user.rg %></td>
    <td><%= user.cpf %></td>
    <td><%= user.birth_date %></td>
    <td><%= user.gender %></td>
    <td><%= user.phone %></td>
    <td><%= user.zipcode %></td>
    <td><%= user.state %></td>
    <td><%= user.city %></td>
    <td><%= user.area %></td>
    <td><%= user.street %></td>
    <td><%= user.number %></td>
    <td><%= user.complement %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
