<p id="notice"><%= notice %></p>

<h1>
  <%= gravatar_image_tag @user.email %>
  <%= @user.name %>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Nickname:</b>
  <%= @user.nickname %>
</p>

</h1>


<fieldset>
  <legend><%=t "Game in Repository" %>:</legend>
  <% @user.repository_games.each do |game| %></br>
	<%= link_to game.name, game %>
  <% end %>
</fieldset>

<fieldset>
  <legend><%=t "Game in Wishlist" %>:</legend>
  <% @user.wishlist_games.each do |game| %></br>
	<%= link_to game.name, game %>
  <% end %>
</fieldset>

