<p id="notice"><%= notice %></p>

<h1>
  <%= gravatar_image_tag @user.email %>
  <%= @user.name %>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Nickname:</b>
  <%= @user.nickname %>
</p>

</h1>

