<p id="notice"><%= notice %></p>

<h2>
  <%= gravatar_image_tag @user.email %>
  <%= @user.name %></br>

  <%=t :name %>:
  <%= @user.name %></br>
  <%=t :email %>:
  <%= @user.email %></br>
  <%=t :city %>:
  <%= @user.city %></br>
  <%=t :state %>:
  <%= @user.state %></br>
  <%=t :admin if @user.admin? %>
</h2>

<fieldset>
  <legend><%=t "Stats" %>:</legend>
  <%= render 'shared/stats' %>
</fieldset>


<fieldset>
  <legend><%=t "Game in Repository" %>:</legend>
  <% @user.repository_games.each do |game| %></br>
	<%= link_to game.name, game %>
  <% end %>
</fieldset>

<fieldset>
  <legend><%=t "Game in Wishlist" %>:</legend>
  <% @user.wishlist_games.each do |game| %></br>
	<%= link_to game.name, game %>
  <% end %>
</fieldset>


