<h1><%= @h1title %></h1>

<%= form_tag games_path, :method => 'get', :id => "games_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%= will_paginate @games %>
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
	<% if signed_in? %>
    <th></th>
    <th></th>
	<% if current_user.admin? %>
    <th></th>
    <th></th>
	<% end %>
	<% end %>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.name %></td>
    <td><%= game.plataform %></td>
	<td><%= game.media_count %> <%= game.media_type %></td>
    <td><%= game.genre %></td>
    <td><%= link_to t('Show'), game %></td>
	<% if signed_in? %>
    <td><%= "in Repo" if current_user.hasRepositoryGame?(game) %></td>
    <td><%= "in Wish" if current_user.hasWishlistGame?(game) %></td>
	<% if current_user.admin? %>
    <td><%= link_to t('Edit'), edit_game_path(game) %></td>
    <td><%= link_to t('Destroy'), game, confirm: 'Are you sure?', method: :delete %></td>
	<% end %>
	<% end %>
  </tr>
<% end %>
</table>

<%= will_paginate @games %>
<br />

<% if signed_in? && current_user.admin? %>
<%= link_to t('New Game'), new_game_path %>
<% end %>
