<p id="notice"><%= notice %></p>

<h2>
  <%=t :name %>:
  <%= @game.name %></br>
  
  
  <%=t :plataform %>:
  <%= @game.plataform %></br>
  
  <%=t :media_type %>:
  <%= @game.media_count %> <%= @game.media_type %></br>
  
  <%=t :genre %>:
  <%= @game.genre %></br>

</h2>

<h3>
  <%=t :review %>:
  <%= @game.review %></br>
</h3>


<fieldset>
  <legend><%=t "Who has this game in its Repository" %>:</legend>
  <% @game.repository_users.each do |user| %></br>
	<%= gravatar_for user, :size => 30 %>
	<%= link_to user.name, user %>
	<%= user.email %>
  <% end %>
</fieldset>

<fieldset>
  <legend><%=t "Who has this game in its Wishlist" %>:</legend>
  <% @game.wishlist_users.each do |user| %></br>
	<%= gravatar_for user, :size => 30 %>
	<%= link_to user.name, user %>
	<%= user.email %>
  <% end %>
</fieldset>



<% if signed_in? && current_user.admin? %>
<%= link_to 'Edit', edit_game_path(@game) %> |
<% end %>
<%= link_to 'Back', games_path %>
