<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>    
      <li><%= link_to t("Home"), root_path %></li>
      <li><%= link_to t("Help"), help_path %></li>
      <li><%= link_to t("Games"), games_path %></li>
      <% if signed_in? %>
      <li><%= link_to t("Users"), users_path %></li>
      <li><%= link_to t("Profile"), current_user %></li>
      <li><%= link_to t("Settings"), edit_user_path(current_user) %></li>
      <li><%= link_to t("Sign out"), signout_path %></li>
      <% if current_user.admin? %>
      <li><%= "Master" %></li>
      <% end %>
      <% else %>
      <li><%= link_to t("Sign in"), signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
